html,
body {
  background-color: #020204;
  margin: 0;
  font-family: 'Jost', sans-serif;
  color: white;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

/* HEADER */


.header_liner {
  border-bottom: 1px solid #32323D;
}

.header {
  border-bottom: 1px solid #32323D;
}

.header_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.header_line a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Jost';
  transition: all 0.5s;
}

.header_lng a:hover {
  color: #C7A17A;
}

/* HEADER PART2 */

.header_nav {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header_title a {
  text-decoration: none;
  margin-right: 35px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Jost';
  transition: all 0.5s;
  position: relative;
}

.header_title a:hover {
  color: #C7A17A;
}

.header_icon.right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.header-icon {
  display: flex;
}

.header_icon a {
  margin-right: 30px;
  position: relative;
}

.header_icon a:nth-child(3) {
  margin-right: 0;
}

.eventCart {
  display: block;
  width: 6px;
  height: 6px;
  background-color:  #C7A17A;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
}


/* MAIN */

main {
  margin-top: 100px;
  margin-bottom: 80px;
}

/* OPEN PRODUCT */

.open_product_info {
  margin-top: 0px;
  margin-bottom: 80px;
}

.open_product_title h1 {
  font-size: 60px;
  font-weight: 900;
  font-family: 'Jost';
  text-transform: uppercase;
  margin: 0 0 56px 0;
}

.open_product_pack {
  display: flex;
  gap: 19px;
}

.open_coffee {
  width: 780px;
  height: 520px;
  background-color: #14141D;
  border-radius: 10px;
  position: relative;
}

.open_coffee img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.open_purchase {
  width: 400px;
  height: 258px;
  background-color: #14141D;
  border-radius: 10px;
  padding: 30px;
}

.open_price {
  display: flex;
  column-gap: 30px;
  margin-bottom: 30px;
}

.open_price p {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Jost';
  text-transform: uppercase;
  margin: 0;
}


.discount {
  margin-right: 0;
  color: #818181;
  text-decoration: line-through;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Jost';
}

.open_size {
  display: flex;
  column-gap: 10px;
  margin: 0 0 30px 0;
}

.open_size p {
  font-size: 22px;
  font-weight: 700;
  border: 2px solid;
  border-radius: 5px;
  padding: 9px 19px;
  margin: 0;
  transition: all 1s;
  cursor: pointer;
}

.open_size p:nth-child(2) {
  padding: 9px 12px;
}

.open_size p:nth-child(3) {
  padding: 9px 4px;
}

.open_size p:hover {
  color: #C7A17A;
  border-color: #C7A17A;
}

.buy {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 14px 114px 14px 114px;
  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
  }

.buy:hover {
  background-color: #C7A17A;
  color: #FFF;
}

/* END OPEN PRODUCT */

/* DESCRIPTION */

.description {
  margin-bottom: 80px;
}

.description_title h2 {
  font-size: 24px;
  font-weight: 900;
  font-family: 'Jost';
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-top: 0;
}

.description_text {
  background-color: #14141D;
  border-radius: 10px;
  height: 267px;
  padding: 30px;
}

.description_text ul {
  padding-left: 30px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Jost';
}

/* END DESCRIPTION */

/* CATALOG */
.catalog_other {
  margin: 0;
}

.catalog_title {
  font-size: 40px;
  font-weight: 900;
  font-family: 'Jost';
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 0;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 21px;
}

.product {
  width: 386px;
  height: 372px;
  background-color: #14141D;
  border-radius: 10px;
  padding: 20px;
  transition: background-color 0.5s;
  cursor: pointer;
}

.product:hover {
  background-color: #22222F;
}

.pack {
  margin: 0;
  text-align: center;
}

.product h3 {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Jost';
  margin: 35px 0 30px 0;
}

.price_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_pack {
  display: flex;
  column-gap: 29px;
}

.price_pack p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Jost';
  margin: 0;
}

.price_pack p:nth-child(2) {
  color: #818181;
  text-decoration: line-through;
}

.button_favorite {
  border: 0;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

/* END CATALOG */
/* END MAIN */

/* FOOTER */

.footer_main {
  border-top: 2px solid #14141D;
}

.footer_block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 60px;
  margin: 0;
}

.footer_logo a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  font-family: 'Jost';
  text-transform: uppercase;
  color: #F8DABF;
}

.block_logo {
  display: flex;
  align-items: center;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  width: 531px;
  margin-right: 262px;
}

.nav_main {
  display: flex;
  flex-direction: column;
  gap: 21.13px;
}

.nav_main a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Jost';
  text-transform: uppercase;
  transition: color 0.5s;
}

.nav_contacts {
  display: flex;
  flex-direction: column;
  gap: 21.13px;
}

.nav_contacts a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Jost';
  text-transform: uppercase;
  transition: color 0.5s;
}

.footer_nav a:hover {
  color: #F8DABF;
}

/* END FOOTER */